@font-face {
    font-family: "NeuchaRegular";
    src: url("../fonts/NeuchaRegular/NeuchaRegular.eot");
    src: url("../fonts/NeuchaRegular/NeuchaRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/NeuchaRegular/NeuchaRegular.woff") format("woff"),
    url("../fonts/NeuchaRegular/NeuchaRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

body {
    font-family: NeuchaRegular;
    color: #6640b6;
}

.inner {
    width: 100%;
    max-width: 1127px;
    margin: 0 auto;
}

.header__inner {
    padding: 5px 20px;
}

.header {
    background-color: #c4dcf1;
    border-bottom: 1px solid #8e8e8e;
}

.header__contacts {
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.contacts__text,
.contacts__number,
.email__text,
.email__value {
    color: #000000;
    text-decoration: none;
    font-size: 18px;
}




.button {
    background-color: #8567b2;
    color: #ffffff;
    padding: 6px 17px;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 4px;
    line-height: 1;
}



.header__callback {
    margin: 0 51px;
    font-size: 18px;
}

.header__email {
    display: inline-block;
    margin: 0 55px 0 0;
    letter-spacing: 1.5px;
}

.email__text {
    text-transform: uppercase;
}

.header__social {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    font-size: 0;
}

.social__link {
    width: 24px;
    height: 24px;
    display: inline-block;
}

.social__link--fb {
    background-image: url("../img/facebook.png");
}

.social__link--youtube {
    background-image: url("../img/utube.png");
}

.social__link--vk {
    background-image: url("../img/vk.png");
}

.social__link--ok {
    background-image: url("../img/ok.png");
}

.social__link--googleplus {
    background-image: url("../img/googleplus.png");
}

.social__link--skype {
    background-image: url("../img/skype.png");
}

.social__link:not(:last-child) {
    margin: 0 8px 0 0;
}

.menu {
    border-bottom: 1px solid #8e8e8e;
}

.menu__list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu__item {
    display: inline-block;
    margin: 0 23px;
}

.menu__item:first-child {
    margin-left: 0;
}

.menu__item:last-child {
    margin-right: 0;
    margin-left: 31px;
}

.menu__link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 22px;
    padding: 9px 0;
    display: inline-block;
    border-top: 4px solid transparent;
}



.logo {
    box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.35);
    font-size: 0;
}

.logo__img {
    width: 100%;
    border-top: 1px solid #8e8e8e;
}

.product {
    margin-bottom: 88px;
}

.product__title {
    text-transform: uppercase;
    text-align: center;
    font-size: 50px;
    font-weight: 400;
}

.product__body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 0;
}

.product__picture {
    max-width: 335px;
    width:100%;
    margin-right: 57px;
}

.product__text {
    width: 730px;
    text-align: justify;
    font-size: 23px;
}

.product__picture,
.product__text {
    display: inline-block;
    vertical-align: middle;
}

.product__img {
    width: 100%;
}

.product__button {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 40px;
}

.product__link {
    font-size: 24px;
    letter-spacing: 1px;
}

.portfolio {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1127px;
    margin-bottom: 43px;
}

.portfolio__wrapper {
    display: flex;
    justify-content: space-between;
}

.portfolio__img {
    width: 100%;
    max-width: 367px;
}

.portfolio__img:hover {
    opacity: 0.8;
}

.portfolio__video {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    width: 100%;
    max-width: 1127px;
}

.video__item {
    width: 100%;
    max-width: 487px;
    height: 274px;
}

.video__iframe {
    width: 100%;
    height: 100%;
}

@media (min-width: 1024px) {
    .email__value:hover {
        text-decoration: underline;
    }

    .button:hover {
        opacity: 0.8;
    }

    .menu__link:hover {
        border-color: #03deff;
    }
}